openapi: 3.2.0
info:
  version: latest
  description: '# Introduction


    The NVIDIA Run:ai Control-Plane API reference is a guide that provides an easy-to-use programming interface for adding various tasks to your application, including workload submission, resource management, and administrative operations.


    NVIDIA Run:ai APIs are accessed using *bearer tokens*. To obtain a token, you need to create a **Service account** through the NVIDIA Run:ai user interface.

    To create a service account, in your UI, go to Access → Service Accounts (for organization-level service accounts) or User settings → Access Keys (for user access keys), and create a new one.


    After you have created a new service account, you will need to assign it access rules.

    To assign access rules to the service account, see [Create access rules](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/authentication/accessrules#create-or-delete-rules).

    Make sure you assign the correct rules to your service account. Use the [Roles](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/authentication/roles) to assign the correct access rules.


    To get your access token, follow the instructions in [Request a token](https://run-ai-docs.nvidia.com/saas/reference/api/rest-auth/#request-an-api-token).

    '
  title: NVIDIA Run:ai Access Keys Administrator Command Line Interface API
  x-logo:
    url: https://api.redocly.com/registry/raw/runai-xq8/saas/latest/public/runai-logo-api.png
    altText: NVIDIA Run:ai
    href: https://run.ai
  license:
    name: NVIDIA Run:ai
    url: https://www.nvidia.com/en-us/agreements/enterprise-software/nvidia-software-license-agreement/
servers:
- url: https://app.run.ai
security:
- bearerAuth: []
tags:
- name: Administrator Command Line Interface
  description: Information specific to the Administrator Command Line Interface.
paths:
  /v1/k8s/admin-cli/{os}:
    parameters:
    - $ref: '#/components/parameters/os'
    get:
      summary: Get Administrator Command Line Interface release.
      description: Retrieve the Administrator Command Line Interface version.
      operationId: getAdminCLIRelease
      tags:
      - Administrator Command Line Interface
      responses:
        '200':
          $ref: '#/components/responses/CLIReleaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /v1/k8s/admin-cli/{os}/checksum:
    parameters:
    - $ref: '#/components/parameters/os'
    get:
      summary: Get Administrator Command Line Interface release details.
      description: Retrieve the details of the Administrator Command Line Interface release.
      operationId: getAdminCLIReleaseChecksum
      tags:
      - Administrator Command Line Interface
      responses:
        '200':
          $ref: '#/components/responses/ChecksumResponse'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /v1/k8s/admin-cli/{version}/{os}:
    parameters:
    - $ref: '#/components/parameters/os'
    - $ref: '#/components/parameters/version'
    get:
      summary: Get Administrator Command Line Interface release by version.
      description: Retrieve the Administrator Command Line Interface release by version.
      operationId: getAdminCLIReleaseByVersion
      tags:
      - Administrator Command Line Interface
      responses:
        '200':
          $ref: '#/components/responses/CLIReleaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
  /v1/k8s/admin-cli/{version}/{os}/checksum:
    parameters:
    - $ref: '#/components/parameters/os'
    - $ref: '#/components/parameters/version'
    get:
      summary: Get Administrator Command Line Interface release checksums.
      description: Retrieve the checksums of the Administrator Command Line Interface release.
      operationId: getAdminCLIReleaseByVersionChecksum
      tags:
      - Administrator Command Line Interface
      responses:
        '200':
          $ref: '#/components/responses/ChecksumResponse'
        '400':
          $ref: '#/components/responses/BadRequest1'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/serviceUnavailable'
components:
  responses:
    ChecksumResponse:
      description: return an object with hashes of a file for validation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ChecksumResponse'
    BadRequest1:
      description: Bad request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error1'
    serviceUnavailable:
      description: unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error1'
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error1'
    CLIReleaseResponse:
      description: Get the CLI release.
      content:
        application/x-tar:
          schema:
            type: string
            format: binary
  parameters:
    os:
      in: path
      name: os
      description: The operating system
      required: true
      schema:
        type: string
        enum:
        - linux
        - darwin
    version:
      in: path
      name: version
      description: run:ai version (semantic version)
      required: true
      schema:
        type: string
        pattern: ^(v(0|[1-9]\\d*))\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$
  schemas:
    ChecksumResponse:
      properties:
        description:
          type: string
        md5Hash:
          type: string
        crc32c:
          type: string
    Error1:
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer authentication
x-tagGroups:
- name: Organizations
  tags:
  - Clusters
  - Departments
  - Reports
  - NodePools
  - Nodes
  - Projects
  - Tenant
  - Logo
  - Researcher Command Line Interface
  - Researcher Command Line Interface Deprecated
  - Administrator Command Line Interface
  - Network Topologies
- name: Authentication and Authorization
  tags:
  - Access Keys
  - Access rules
  - Permissions
  - Applications
  - Service Accounts
  - Roles
  - Tokens
  - Users
  - User Applications
  - Idps
  - Me
  - Settings
  - Org unit
- name: Audit
  tags:
  - AuditLogs
- name: Datavolumes
  tags:
  - Datavolumes
- name: Workloads
  tags:
  - Events
  - Pods
  - Workloads
  - Workloads V2
  - NVIDIA NIM
  - Workspaces
  - Trainings
  - Inferences
  - Revisions
  - Distributed
  - Workloads batch
  - Workload properties
  - Workload templates
  - Distributed Inferences
- name: Workload assets
  tags:
  - Compute
  - Credentials
  - Datasources
  - Environment
  - Storage Classes
  - Storage Class Configuration
  - Git
  - HostPath
  - NFS
  - PVC
  - Registry
  - S3
  - ConfigMap
  - Secret
  - Template
- name: Policies
  tags:
  - Policy
- name: Notifications
  tags:
  - Notification State
  - Notification Types
  - NotificationChannels
  - Subscriptions
- name: AI Applications
  tags:
  - AI Applications
