openapi: 3.2.0
info:
  version: latest
  description: '# Introduction


    The NVIDIA Run:ai Control-Plane API reference is a guide that provides an easy-to-use programming interface for adding various tasks to your application, including workload submission, resource management, and administrative operations.


    NVIDIA Run:ai APIs are accessed using *bearer tokens*. To obtain a token, you need to create a **Service account** through the NVIDIA Run:ai user interface.

    To create a service account, in your UI, go to Access → Service Accounts (for organization-level service accounts) or User settings → Access Keys (for user access keys), and create a new one.


    After you have created a new service account, you will need to assign it access rules.

    To assign access rules to the service account, see [Create access rules](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/authentication/accessrules#create-or-delete-rules).

    Make sure you assign the correct rules to your service account. Use the [Roles](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/authentication/roles) to assign the correct access rules.


    To get your access token, follow the instructions in [Request a token](https://run-ai-docs.nvidia.com/saas/reference/api/rest-auth/#request-an-api-token).

    '
  title: NVIDIA Run:ai Access Keys Policy API
  x-logo:
    url: https://api.redocly.com/registry/raw/runai-xq8/saas/latest/public/runai-logo-api.png
    altText: NVIDIA Run:ai
    href: https://run.ai
  license:
    name: NVIDIA Run:ai
    url: https://www.nvidia.com/en-us/agreements/enterprise-software/nvidia-software-license-agreement/
servers:
- url: https://app.run.ai
security:
- bearerAuth: []
tags:
- name: Policy
  description: "Policies allow administrators to impose restrictions and set default values for researcher workloads. \nRestrictions and default values can be placed on CPUs, GPUs, and other resources or entities. \nFor more information, see [Policies](https://run-ai-docs.nvidia.com/saas/platform-management/policies/#introduction).\n"
paths:
  /api/v2/policy:
    get:
      summary: List policies
      description: Retrieve a list of all the applied policies.
      operationId: list_policies
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/WorkloadType'
      - name: scope
        in: query
        required: false
        description: filter by this scope.
        schema:
          type: string
          enum:
          - tenant
          - cluster
          - department
          - project
      - $ref: '#/components/parameters/FilterByDepartment'
      - $ref: '#/components/parameters/FilterByProject'
      - $ref: '#/components/parameters/FilterByCluster'
      - $ref: '#/components/parameters/IncludeFallbackPolicies'
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyListResponse'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /api/v2/policy/trainings:
    patch:
      summary: Update a training policy.
      description: Use to apply changes to a training policy for a given organizational unit.
      operationId: update_training_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/ValidateOnly'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingPolicyChangeRequestV2'
      responses:
        '200':
          description: Policy applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingPolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    put:
      summary: Overwrite a training policy.
      description: Use to apply a training policy for a given organizational unit.
      operationId: overwrite_training_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/ValidateOnly'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingPolicyOverwriteRequestV2'
      responses:
        '200':
          description: Policy applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingPolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    get:
      summary: Get a training policy.
      description: Retrieve the details of a training policy for a given organizational unit.
      operationId: get_training_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/PolicyScope'
      - $ref: '#/components/parameters/FilterByDepartment'
      - $ref: '#/components/parameters/FilterByProject'
      - $ref: '#/components/parameters/FilterByCluster'
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingPolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete a training policy.
      description: Use to delete a training policy for a given organizational unit.
      operationId: delete_training_policy
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/PolicyScope'
      - $ref: '#/components/parameters/FilterByDepartment'
      - $ref: '#/components/parameters/FilterByProject'
      - $ref: '#/components/parameters/FilterByCluster'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      responses:
        '204':
          description: The policy was deleted successfully.
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /api/v2/policy/workspaces:
    patch:
      summary: Update a workspace policy.
      description: Use to apply changes to a workspace policy for a given organizational unit.
      operationId: update_workspace_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/ValidateOnly'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspacePolicyChangeRequestV2'
      responses:
        '200':
          description: Policy applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    put:
      summary: Overwrite a workspace policy.
      description: Ue to apply a workspace policy for a given organizational unit.
      operationId: overwrite_workspace_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/ValidateOnly'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspacePolicyOverwriteRequestV2'
      responses:
        '200':
          description: Policy applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    get:
      summary: Get a workspace policy.
      description: Retrieve the details of a workspace policy for a given organizational unit.
      operationId: get_workspace_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/PolicyScope'
      - $ref: '#/components/parameters/FilterByDepartment'
      - $ref: '#/components/parameters/FilterByProject'
      - $ref: '#/components/parameters/FilterByCluster'
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacePolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete a workspace policy.
      description: Use to delete a workspace policy for a given organizational unit.
      operationId: delete_workspace_policy
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/PolicyScope'
      - $ref: '#/components/parameters/FilterByDepartment'
      - $ref: '#/components/parameters/FilterByProject'
      - $ref: '#/components/parameters/FilterByCluster'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      responses:
        '204':
          description: The policy was deleted successfully.
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /api/v2/policy/distributed:
    patch:
      summary: Update a distributed policy.
      description: Use to apply changes to a distributed policy for a given organizational unit.
      operationId: update_distributed_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/ValidateOnly'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributedPolicyChangeRequestV2'
      responses:
        '200':
          description: Policy applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributedPolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    put:
      summary: Overwrite a distributed policy.
      description: Use to apply a distributed policy for a given organizational unit.
      operationId: overwrite_distributed_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/ValidateOnly'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributedPolicyOverwriteRequestV2'
      responses:
        '200':
          description: Policy applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributedPolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    get:
      summary: Get a distributed policy.
      description: Retrieve the details of a distributed policy for a given organizational unit.
      operationId: get_distributed_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/PolicyScope'
      - $ref: '#/components/parameters/FilterByDepartment'
      - $ref: '#/components/parameters/FilterByProject'
      - $ref: '#/components/parameters/FilterByCluster'
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributedPolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete a distributed policy.
      description: Use to delete a distributed policy for a given organizational unit.
      operationId: delete_distributed_policy
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/PolicyScope'
      - $ref: '#/components/parameters/FilterByDepartment'
      - $ref: '#/components/parameters/FilterByProject'
      - $ref: '#/components/parameters/FilterByCluster'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      responses:
        '204':
          description: The policy was deleted successfully.
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /api/v2/policy/inferences:
    patch:
      summary: Update an inference policy.
      description: Use to apply changes to an inference policy for a given organizational unit.
      operationId: update_inference_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/ValidateOnly'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferencePolicyChangeRequestV2'
      responses:
        '200':
          description: Policy applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferencePolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    put:
      summary: Overwrite an inference policy.
      description: Use to apply an inference policy for a given organizational unit.
      operationId: overwrite_inference_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/ValidateOnly'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InferencePolicyOverwriteRequestV2'
      responses:
        '200':
          description: Policy applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferencePolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    get:
      summary: Get an inference policy.
      description: Retrieve the details of an inference policy for a given organizational unit.
      operationId: get_inference_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/PolicyScope'
      - $ref: '#/components/parameters/FilterByDepartment'
      - $ref: '#/components/parameters/FilterByProject'
      - $ref: '#/components/parameters/FilterByCluster'
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InferencePolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete an inference policy.
      description: Use to delete an inference policy for a given organizational unit.
      operationId: delete_inference_policy
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/PolicyScope'
      - $ref: '#/components/parameters/FilterByDepartment'
      - $ref: '#/components/parameters/FilterByProject'
      - $ref: '#/components/parameters/FilterByCluster'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      responses:
        '204':
          description: The policy was deleted successfully.
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /api/v2/policy/distributed-inferences:
    patch:
      summary: Update a distributed inference policy.
      description: Use to apply changes to a distributed inference policy for a given organizational unit.
      operationId: update_distributed_inference_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/ValidateOnly'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributedInferencePolicyChangeRequestV2'
      responses:
        '200':
          description: Policy applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributedInferencePolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    put:
      summary: Overwrite a distributed inference policy.
      description: Use to apply a distributed inference policy for a given organizational unit.
      operationId: overwrite_distributed_inference_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/ValidateOnly'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributedInferencePolicyOverwriteRequestV2'
      responses:
        '200':
          description: Policy applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributedInferencePolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    get:
      summary: Get a distributed inference policy.
      description: Retrieve the details of a distributed inference policy for a given organizational unit.
      operationId: get_distributed_inference_policy_v2
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/PolicyScope'
      - $ref: '#/components/parameters/FilterByDepartment'
      - $ref: '#/components/parameters/FilterByProject'
      - $ref: '#/components/parameters/FilterByCluster'
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributedInferencePolicyV2'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete a distributed inference policy.
      description: Use to delete a distributed inference policy for a given organizational unit.
      operationId: delete_distributed_inference_policy
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/PolicyScope'
      - $ref: '#/components/parameters/FilterByDepartment'
      - $ref: '#/components/parameters/FilterByProject'
      - $ref: '#/components/parameters/FilterByCluster'
      - $ref: '#/components/parameters/ApproveClusterDeletion'
      responses:
        '204':
          description: The policy was deleted successfully.
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /api/v2/policy/nim-services:
    patch:
      summary: Update NVIDIA NIM service policy.
      description: Use to apply changes to NVIDIA NIM service policy for a given organizational unit.
      operationId: update_nim_service_policy
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/ValidateOnly'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NimServicePolicyChangeRequest'
      responses:
        '200':
          description: Policy applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NimServicePolicy'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    put:
      summary: Overwrite NVIDIA NIM service policy.
      description: Use to apply NVIDIA NIM service policy for a given organizational unit.
      operationId: overwrite_nim_service_policy
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/ValidateOnly'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NimServicePolicyOverwriteRequest'
      responses:
        '200':
          description: Policy applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NimServicePolicy'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    get:
      summary: Get NVIDIA NIM service policy.
      description: Retrieve the details of NVIDIA NIM service policy for a given organizational unit.
      operationId: get_nim_service_policy
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/PolicyScope'
      - $ref: '#/components/parameters/FilterByDepartment'
      - $ref: '#/components/parameters/FilterByProject'
      - $ref: '#/components/parameters/FilterByCluster'
      responses:
        '200':
          description: Request completed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NimServicePolicy'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
    delete:
      summary: Delete NVIDIA NIM service policy.
      description: Use to delete NVIDIA NIM service policy for a given organizational unit.
      operationId: delete_nim_service_policy
      tags:
      - Policy
      parameters:
      - $ref: '#/components/parameters/PolicyScope'
      - $ref: '#/components/parameters/FilterByDepartment'
      - $ref: '#/components/parameters/FilterByProject'
      - $ref: '#/components/parameters/FilterByCluster'
      responses:
        '204':
          description: The policy was deleted successfully.
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
components:
  schemas:
    MetricThresholdField:
      properties:
        metricThreshold:
          description: The threshold to use with the specified metric for autoscaling. Mandatory if metric is specified
          type:
          - integer
          - 'null'
          format: int32
    DistributedInferenceServingPortProtocol:
      description: The protocol used to access the port.
      type:
      - string
      - 'null'
      enum:
      - http
      default: http
    PodAffinityTypeOptions:
      properties:
        options:
          type:
          - array
          - 'null'
          items:
            required:
            - value
            properties:
              value:
                $ref: '#/components/schemas/PodAffinityType'
              displayed:
                description: Textual description of the value
                type:
                - string
                - 'null'
                pattern: .*
      type: object
    PodAffinityTypeRules:
      allOf:
      - $ref: '#/components/schemas/StringRulesCommon'
      - $ref: '#/components/schemas/PodAffinityTypeOptions'
      type:
      - object
      - 'null'
    TerminationGracePeriod:
      description: Duration in seconds the pod needs to terminate gracefully upon probe failure. The grace period is the duration in seconds after the processes running in the pod are sent a termination signal and the time when the processes are forcibly halted with a kill signal. Set this value longer than the expected cleanup time for your process. Value must be non-negative integer. The value zero indicates stop immediately via the kill signal (no opportunity to shut down).
      format: int64
      type:
      - integer
      - 'null'
      minimum: 0
      example: 20
    PvcRules:
      properties:
        claimName:
          $ref: '#/components/schemas/StringRules'
        path:
          $ref: '#/components/schemas/StringRules'
        readOnly:
          $ref: '#/components/schemas/BooleanRules'
        claimInfo:
          $ref: '#/components/schemas/ClaimInfoRules'
      type:
      - object
      - 'null'
    Label:
      description: Label details to be populated into the container.
      properties:
        name:
          description: The name of the label (mandatory)
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 63
          example: stage
          pattern: .*
        value:
          description: The value of the label.
          type:
          - string
          - 'null'
          example: initial-research
          pattern: .*
        exclude:
          description: Use 'true' in case the label is defined in defaults of the policy, and you wish to exclude it from the workload.
          type:
          - boolean
          - 'null'
          example: false
      type:
      - object
      - 'null'
    Labels:
      description: Set of labels to populate into the container running the workload.
      type:
      - array
      - 'null'
      items:
        $ref: '#/components/schemas/Label'
    EnvironmentVariablePodFieldReference:
      description: Details of the field-reference and key use to populate the environment variable
      properties:
        path:
          description: The field path resource. (mandatory)
          type:
          - string
          - 'null'
          minLength: 1
          example: metadata.name
          pattern: .*
      type:
      - object
      - 'null'
    SecretFieldsNonUpdatable:
      properties:
        secret:
          description: The name of the Secret resource. (mandatory)
          type:
          - string
          - 'null'
          minLength: 1
      type:
      - object
      - 'null'
    TolerationOperatorRules:
      allOf:
      - $ref: '#/components/schemas/StringRulesCommon'
      - $ref: '#/components/schemas/TolerationOperatorOptions'
      type:
      - object
      - 'null'
    GitInstance:
      allOf:
      - $ref: '#/components/schemas/StorageInstanceName'
      - $ref: '#/components/schemas/GitCommon'
      - $ref: '#/components/schemas/GitPassword'
      - $ref: '#/components/schemas/ExcludeField'
      - type:
        - object
        - 'null'
        properties:
          secretRef:
            $ref: '#/components/schemas/GitSecretRef'
      type:
      - object
      - 'null'
    ProbeRules:
      properties:
        initialDelaySeconds:
          $ref: '#/components/schemas/IntegerRules'
        periodSeconds:
          $ref: '#/components/schemas/IntegerRules'
        timeoutSeconds:
          $ref: '#/components/schemas/IntegerRules'
        successThreshold:
          $ref: '#/components/schemas/IntegerRules'
        failureThreshold:
          $ref: '#/components/schemas/IntegerRules'
        handler:
          $ref: '#/components/schemas/ProbeHandlerRules'
      type:
      - object
      - 'null'
    ServingPortAuthorizationTypeRules:
      allOf:
      - $ref: '#/components/schemas/StringRulesCommon'
      - $ref: '#/components/schemas/ServingPortAuthorizationTypeOptions'
      type:
      - object
      - 'null'
    AutoDeletionTimeAfterPreemption:
      description: Specifies the duration after which a finished workload (completed or failed) will be automatically deleted. The default is 30 days. Log retention is managed separately.
      format: int64
      type:
      - integer
      - 'null'
      example: 15
    NumWorkers:
      description: the number of workers that will be allocated for running the workload.
      type:
      - integer
      - 'null'
      minimum: 1
    MinReplicas:
      description: the lower limit for the number of worker pods to which the training job can scale down. (applicable only for PyTorch)
      type:
      - integer
      - 'null'
    EmptyDir:
      properties:
        path:
          description: Local path within the workload to which the EmptyDir volume will be mapped. (mandatory)
          type:
          - string
          - 'null'
          minLength: 1
          example: /mnt/emptydir
          pattern: .*
        medium:
          description: The type of storage medium for the volume. Use "Memory" for memory-backed storage, or leave empty for disk-backed storage.
          type:
          - string
          - 'null'
          minLength: 1
          pattern: .*
        sizeLimit:
          description: The total amount of local storage or memory required for the emptyDir volume. Specify using Kubernetes quantity format (e.g., 1G, 500Mi).
          type:
          - string
          - 'null'
          pattern: ^([+]?[0-9.]+)([eEinumkKMGTP]*[-+]?[0-9]*)$
          example: 1G
      type:
      - object
      - 'null'
    TolerationsRules:
      properties:
        attributes:
          $ref: '#/components/schemas/TolerationRules'
        instances:
          $ref: '#/components/schemas/ItemRules'
      type:
      - object
      - 'null'
    HostPathItems:
      description: Set of host paths to use in the workload.
      type:
      - array
      - 'null'
      items:
        $ref: '#/components/schemas/HostPathInstance'
    ServingPortExposedProtocolOptions:
      properties:
        options:
          type:
          - array
          - 'null'
          items:
            required:
            - value
            properties:
              value:
                $ref: '#/components/schemas/ServingPortExposedProtocol'
              displayed:
                description: Textual description of the value
                type:
                - string
                - 'null'
                pattern: .*
      type:
      - object
      - 'null'
    AutoScalingMetricThreshold:
      description: The threshold to use with the specified metric for autoscaling (mandatory).
      type:
      - integer
      - 'null'
      format: int32
    TolerationEffectOptions:
      properties:
        options:
          description: Limit the permitted values for imagePullPolicy to a given set of values.
          type:
          - array
          - 'null'
          items:
            required:
            - value
            properties:
              value:
                $ref: '#/components/schemas/TolerationEffect'
              displayed:
                description: Textual description of the value
                type:
                - string
                - 'null'
                pattern: .*
      type:
      - object
      - 'null'
    ReplicaRulesV2:
      properties:
        annotations:
          $ref: '#/components/schemas/InstancesRules'
        args:
          $ref: '#/components/schemas/StringRules'
        autoDeletionTimeAfterCompletionSeconds:
          $ref: '#/components/schemas/IntegerRules'
        backoffLimit:
          $ref: '#/components/schemas/IntegerRules'
        category:
          $ref: '#/components/schemas/StringRules'
        command:
          $ref: '#/components/schemas/StringRules'
        compute:
          properties:
            cpuCoreLimit:
              $ref: '#/components/schemas/NumberRules'
            cpuCoreRequest:
              $ref: '#/components/schemas/NumberRules'
            cpuMemoryLimit:
              $ref: '#/components/schemas/QuantityRules'
            cpuMemoryRequest:
              $ref: '#/components/schemas/QuantityRules'
            extendedResources:
              $ref: '#/components/schemas/ExtendedResourcesRules'
            gpuDevicesRequest:
              $ref: '#/components/schemas/IntegerRules'
            gpuMemoryLimit:
              $ref: '#/components/schemas/QuantityRules'
            gpuMemoryRequest:
              $ref: '#/components/schemas/QuantityRules'
            gpuPortionLimit:
              $ref: '#/components/schemas/NumberRules'
            gpuPortionRequest:
              $ref: '#/components/schemas/NumberRules'
            gpuRequestType:
              $ref: '#/components/schemas/GpuRequestRules'
            largeShmRequest:
              $ref: '#/components/schemas/BooleanRules'
          type:
          - object
          - 'null'
        createHomeDir:
          $ref: '#/components/schemas/BooleanRules'
        environmentVariables:
          $ref: '#/components/schemas/InstancesRules'
        exposedUrls:
          $ref: '#/components/schemas/ExposedUrlsRules'
        image:
          $ref: '#/components/schemas/StringRules'
        imagePullPolicy:
          $ref: '#/components/schemas/ImagePullPolicyRules'
        imagePullSecrets:
          $ref: '#/components/schemas/ImagePullSecretsRules'
        labels:
          $ref: '#/components/schemas/InstancesRules'
        nodeAffinityRequired:
          $ref: '#/components/schemas/ArbitraryRules'
        nodePools:
          $ref: '#/components/schemas/ArrayRules'
        nodeType:
          $ref: '#/components/schemas/StringRules'
        podAffinity:
          $ref: '#/components/schemas/PodAffinityRules'
        ports:
          $ref: '#/components/schemas/PortsRules'
        preemptibility:
          $ref: '#/components/schemas/PreemptibilityRules'
        priorityClass:
          $ref: '#/components/schemas/StringRules'
        probes:
          $ref: '#/components/schemas/ProbesRules'
        relatedUrls:
          $ref: '#/components/schemas/RelatedUrlsRules'
        restartPolicy:
          $ref: '#/components/schemas/RestartPolicyRule'
        security:
          properties:
            allowPrivilegeEscalation:
              $ref: '#/components/schemas/BooleanRules'
            capabilities:
              $ref: '#/components/schemas/ArrayRules'
            hostIpc:
              $ref: '#/components/schemas/BooleanRules'
            hostNetwork:
              $ref: '#/components/schemas/BooleanRules'
            readOnlyRootFilesystem:
              $ref: '#/components/schemas/BooleanRules'
            runAsGid:
              $ref: '#/components/schemas/IntegerRulesOptional'
            runAsNonRoot:
              $ref: '#/components/schemas/BooleanRules'
            runAsUid:
              $ref: '#/components/schemas/IntegerRulesOptional'
            seccompProfileType:
              $ref: '#/components/schemas/SeccompProfileTypeRules'
            supplementalGroups:
              $ref: '#/components/schemas/StringRules'
            uidGidSource:
              $ref: '#/components/schemas/UidGidSourceRules'
          type:
          - object
          - 'null'
        stdin:
          $ref: '#/components/schemas/BooleanRules'
        storage:
          properties:
            configMapVolume:
              $ref: '#/components/schemas/ConfigMapsRules'
            dataVolume:
              $ref: '#/components/schemas/DataVolumesRules'
            emptyDirVolume:
              $ref: '#/components/schemas/EmptyDirsRules'
            git:
              $ref: '#/components/schemas/GitsRules'
            hostPath:
              $ref: '#/components/schemas/HostPathsRules'
            nfs:
              $ref: '#/components/schemas/NfssRules'
            pvc:
              $ref: '#/components/schemas/PvcsRules'
            s3:
              $ref: '#/components/schemas/S3sRules'
            secretVolume:
              $ref: '#/components/schemas/SecretsRules'
          type:
          - object
          - 'null'
        terminateAfterPreemption:
          $ref: '#/components/schemas/BooleanRules'
        terminationGracePeriodSeconds:
          $ref: '#/components/schemas/IntegerRules'
        tolerations:
          $ref: '#/components/schemas/TolerationsRules'
        tty:
          $ref: '#/components/schemas/BooleanRules'
        workingDir:
          $ref: '#/components/schemas/StringRules'
      type:
      - object
      - 'null'
    ConfigMapInstance:
      allOf:
      - $ref: '#/components/schemas/StorageInstanceName'
      - $ref: '#/components/schemas/ConfigMap'
      - $ref: '#/components/schemas/ExcludeField'
      type:
      - object
      - 'null'
    ImagePullSecretsRulesAttributes:
      description: Rules for the attributes of imagePullSecrets
      properties:
        name:
          $ref: '#/components/schemas/StringRules'
        userCredentials:
          $ref: '#/components/schemas/BooleanRules'
      type:
      - object
      - 'null'
    ConfigMapItems:
      description: Set of config map volumes to use in the workload
      type:
      - array
      - 'null'
      items:
        $ref: '#/components/schemas/ConfigMapInstance'
    PolicySyncStatus:
      properties:
        clusters:
          type: array
          items:
            $ref: '#/components/schemas/PolicySyncStatusOfCluster'
    PolicyMeta:
      allOf:
      - $ref: '#/components/schemas/PolicyReadOnlyFields'
      - $ref: '#/components/schemas/PolicyCreationFields'
    GpuPortionLimit:
      description: Limitations on the portion consumed by the workload, per GPU device. The system guarantees The gpuPotionLimit must be no less than the gpuPortionRequest.
      type:
      - number
      - 'null'
      format: double
      example: 0.5
      minimum: 0
    ArrayRules:
      properties:
        sourceOfRule:
          $ref: '#/components/schemas/SourceOfRule'
        required:
          description: Whether this array is mandatory. Mandatory array must include at least one item. default to false.
          type:
          - boolean
          - 'null'
        options:
          description: Set of options that the value of each item of the array must be chosen from.
          type: array
          items:
            $ref: '#/components/schemas/StringOption'
        canEdit:
          description: Whether the value of the array, as a whole, is editable. default to false.
          type:
          - boolean
          - 'null'
      type:
      - object
      - 'null'
    DistributedInferenceCommonDefaultsV2:
      allOf:
      - properties:
          category:
            $ref: '#/components/schemas/Category'
          nodePools:
            $ref: '#/components/schemas/NodePools'
          preemptibility:
            $ref: '#/components/schemas/Preemptibility'
          priorityClass:
            $ref: '#/components/schemas/PriorityClass'
          restartPolicy:
            $ref: '#/components/schemas/DistributedInferenceRestartPolicy'
          servingPort:
            $ref: '#/components/schemas/DistributedInferenceServingPort'
        type:
        - object
        - 'null'
      - $ref: '#/components/schemas/DistributedInferenceStartupPolicyField'
      - $ref: '#/components/schemas/DistributedInferenceWorkersField'
      - $ref: '#/components/schemas/DistributedInferenceReplicasField'
      type:
      - object
      - 'null'
    TrainingPolicyOverwriteRequestV2:
      properties:
        meta:
          $ref: '#/components/schemas/PolicyCreationFields'
        policy:
          $ref: '#/components/schemas/TrainingPolicyDefaultsAndRulesV2'
      type: object
    MpiLauncherCreationPolicyRules:
      allOf:
      - $ref: '#/components/schemas/StringRulesCommon'
      - $ref: '#/components/schemas/MpiLauncherCreationPolicyOptions'
      type:
      - object
      - 'null'
    TrainingPolicyDefaultsAndRulesV2:
      properties:
        defaults:
          allOf:
          - $ref: '#/components/schemas/TrainingPolicyDefaultsV2'
          type:
          - object
          - 'null'
        rules:
          allOf:
          - $ref: '#/components/schemas/TrainingPolicyRulesV2'
          type:
          - object
          - 'null'
        imposedAssets:
          $ref: '#/components/schemas/ImposedAssets'
        status:
          $ref: '#/components/schemas/PolicyValidationStatus'
      type:
      - object
      - 'null'
    DistributedPolicyOverwriteRequestV2:
      properties:
        meta:
          $ref: '#/components/schemas/PolicyCreationFields'
        policy:
          $ref: '#/components/schemas/DistributedPolicyDefaultsAndRulesV2'
      type: object
    DistributedInferenceWorkersFieldRules:
      properties:
        workers:
          $ref: '#/components/schemas/IntegerRules'
    ClusterId:
      description: The id of the cluster.
      type: string
      format: uuid
      example: 71f69d83-ba66-4822-adf5-55ce55efd210
    PvcAddedAttrValue:
      type: object
      required:
      - key
      properties:
        key:
          type: string
          minLength: 1
          maxLength: 63
          pattern: ^([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9]$
          example: dnsname
        value:
          type: string
          example: my.dns.com
          pattern: .*
    GitAuthenticationMethod:
      description: Specifies the authentication method to use when accessing the Git repository. This is required for private repositories - `password` - Authenticate using a username and password. - `ssh-key` - Authenticate using an SSH private key.
      type: string
      minLength: 1
      example: password
      enum:
      - password
      - ssh-key
    EmptyDirInstance:
      allOf:
      - $ref: '#/components/schemas/StorageInstanceName'
      - $ref: '#/components/schemas/EmptyDir'
      - $ref: '#/components/schemas/ExcludeField'
      type:
      - object
      - 'null'
    Image:
      description: Docker image name. For more information, see [Images](https://kubernetes.io/docs/concepts/containers/images). The image name is mandatory for creating a workload.
      type:
      - string
      - 'null'
      minLength: 1
      example: python:3.8
      pattern: .*
    DistributedInferenceServingPortContainerAndProtocol:
      properties:
        port:
          description: The port exposed by the container running the distributed inference service.
          type:
          - integer
          - 'null'
          format: int32
          minimum: 1
          maximum: 65535
          example: 8080
        protocol:
          $ref: '#/components/schemas/DistributedInferenceServingPortProtocol'
    DataVolumeRules:
      properties:
        id:
          $ref: '#/components/schemas/StringRules'
        mountPath:
          $ref: '#/components/schemas/StringRules'
      type:
      - object
      - 'null'
    DistributedPolicyDefaultsV2:
      properties:
        master:
          $ref: '#/components/schemas/ReplicaDefaultsV2'
        worker:
          allOf:
          - $ref: '#/components/schemas/ReplicaDefaultsV2'
          - properties:
              cleanPodPolicy:
                $ref: '#/components/schemas/CleanPodPolicy'
              distributedFramework:
                $ref: '#/components/schemas/DistributedFramework'
              maxReplicas:
                $ref: '#/components/schemas/MaxReplicas'
              minReplicas:
                $ref: '#/components/schemas/MinReplicas'
              mpiLauncherCreationPolicy:
                $ref: '#/components/schemas/MpiLauncherCreationPolicy'
              numWorkers:
                $ref: '#/components/schemas/NumWorkers'
              slotsPerWorker:
                $ref: '#/components/schemas/SlotsPerWorker'
              sshAuthMountPath:
                $ref: '#/components/schemas/SshAuthMountPath'
            type:
            - object
            - 'null'
          type:
          - object
          - 'null'
      type:
      - object
      - 'null'
    DistributedInferenceStartupPolicyField:
      properties:
        startupPolicy:
          $ref: '#/components/schemas/DistributedInferenceStartupPolicy'
      type:
      - object
      - 'null'
    DistributedInferenceServingPortRules:
      properties:
        port:
          $ref: '#/components/schemas/IntegerRules'
        protocol:
          $ref: '#/components/schemas/StringRules'
        authorizationType:
          $ref: '#/components/schemas/DistributedInferenceServingPortAuthorizationTypeRules'
        authorizedUsers:
          $ref: '#/components/schemas/ArrayRules'
        authorizedGroups:
          $ref: '#/components/schemas/ArrayRules'
        exposeExternally:
          $ref: '#/components/schemas/BooleanRules'
        exposedUrl:
          $ref: '#/components/schemas/StringRules'
      type:
      - object
      - 'null'
    GpuPortionRequest:
      description: Required if and only if gpuRequestType is portion. States the portion of the GPU to allocate for the created workload, per GPU device, between 0 and 1. The default is no allocated GPUs.
      type:
      - number
      - 'null'
      format: double
      example: 0.5
      minimum: 0
    EmptyDirRules:
      properties:
        path:
          $ref: '#/components/schemas/StringRules'
        medium:
          $ref: '#/components/schemas/StringRules'
        sizeLimit:
          $ref: '#/components/schemas/StringRules'
      type:
      - object
      - 'null'
    TrainingPolicyRulesV2:
      allOf:
      - properties:
          annotations:
            $ref: '#/components/schemas/InstancesRules'
          args:
            $ref: '#/components/schemas/StringRules'
          autoDeletionTimeAfterCompletionSeconds:
            $ref: '#/components/schemas/IntegerRules'
          backoffLimit:
            $ref: '#/components/schemas/IntegerRules'
          category:
            $ref: '#/components/schemas/StringRules'
          command:
            $ref: '#/components/schemas/StringRules'
          completions:
            $ref: '#/components/schemas/IntegerRules'
          compute:
            properties:
              cpuCoreLimit:
                $ref: '#/components/schemas/NumberRules'
              cpuCoreRequest:
                $ref: '#/components/schemas/NumberRules'
              cpuMemoryLimit:
                $ref: '#/components/schemas/QuantityRules'
              cpuMemoryRequest:
                $ref: '#/components/schemas/QuantityRules'
              extendedResources:
                $ref: '#/components/schemas/ExtendedResourcesRules'
              gpuDevicesRequest:
                $ref: '#/components/schemas/IntegerRules'
              gpuMemoryLimit:
                $ref: '#/components/schemas/QuantityRules'
              gpuMemoryRequest:
                $ref: '#/components/schemas/QuantityRules'
              gpuPortionLimit:
                $ref: '#/components/schemas/NumberRules'
              gpuPortionRequest:
                $ref: '#/components/schemas/NumberRules'
              gpuRequestType:
                $ref: '#/components/schemas/GpuRequestRules'
              largeShmRequest:
                $ref: '#/components/schemas/BooleanRules'
            type:
            - object
            - 'null'
          createHomeDir:
            $ref: '#/components/schemas/BooleanRules'
          environmentVariables:
            $ref: '#/components/schemas/InstancesRules'
          exposedUrls:
            $ref: '#/components/schemas/ExposedUrlsRules'
          image:
            $ref: '#/components/schemas/StringRules'
          imagePullPolicy:
            $ref: '#/components/schemas/ImagePullPolicyRules'
          imagePullSecrets:
            $ref: '#/components/schemas/ImagePullSecretsRules'
          labels:
            $ref: '#/components/schemas/InstancesRules'
          nodeAffinityRequired:
            $ref: '#/components/schemas/ArbitraryRules'
          nodePools:
            $ref: '#/components/schemas/ArrayRules'
          nodeType:
            $ref: '#/components/schemas/StringRules'
          parallelism:
            $ref: '#/components/schemas/IntegerRules'
          podAffinity:
            $ref: '#/components/schemas/PodAffinityRules'
          ports:
            $ref: '#/components/schemas/PortsRules'
          preemptibility:
            $ref: '#/components/schemas/PreemptibilityRules'
          priorityClass:
            $ref: '#/components/schemas/StringRules'
          probes:
            $ref: '#/components/schemas/ProbesRules'
          relatedUrls:
            $ref: '#/components/schemas/RelatedUrlsRules'
          restartPolicy:
            $ref: '#/components/schemas/RestartPolicyRule'
          security:
            properties:
              allowPrivilegeEscalation:
                $ref: '#/components/schemas/BooleanRules'
              capabilities:
                $ref: '#/components/schemas/ArrayRules'
              hostIpc:
                $ref: '#/components/schemas/BooleanRules'
              hostNetwork:
                $ref: '#/components/schemas/BooleanRules'
              readOnlyRootFilesystem:
                $ref: '#/components/schemas/BooleanRules'
              runAsGid:
                $ref: '#/components/schemas/IntegerRulesOptional'
              runAsNonRoot:
                $ref: '#/components/schemas/BooleanRules'
              runAsUid:
                $ref: '#/components/schemas/IntegerRulesOptional'
              seccompProfileType:
                $ref: '#/components/schemas/SeccompProfileTypeRules'
              supplementalGroups:
                $ref: '#/components/schemas/StringRules'
              uidGidSource:
                $ref: '#/components/schemas/UidGidSourceRules'
            type:
            - object
            - 'null'
          stdin:
            $ref: '#/components/schemas/BooleanRules'
          storage:
            properties:
              configMapVolume:
                $ref: '#/components/schemas/ConfigMapsRules'
              dataVolume:
                $ref: '#/components/schemas/DataVolumesRules'
              emptyDirVolume:
                $ref: '#/components/schemas/EmptyDirsRules'
              git:
                $ref: '#/components/schemas/GitsRules'
              hostPath:
                $ref: '#/components/schemas/HostPathsRules'
              nfs:
                $ref: '#/components/schemas/NfssRules'
              pvc:
                $ref: '#/components/schemas/PvcsRules'
              s3:
                $ref: '#/components/schemas/S3sRules'
              secretVolume:
                $ref: '#/components/schemas/SecretsRules'
            type:
            - object
            - 'null'
          terminateAfterPreemption:
            $ref: '#/components/schemas/BooleanRules'
          terminationGracePeriodSeconds:
            $ref: '#/components/schemas/IntegerRules'
          tolerations:
            $ref: '#/components/schemas/TolerationsRules'
          tty:
            $ref: '#/components/schemas/BooleanRules'
          workingDir:
            $ref: '#/components/schemas/StringRules'
        type:
        - object
        - 'null'
    NimServicePvcFields:
      properties:
        existingPvc:
          description: Verify existing PVC. PVC is assumed to exist when set to `true`. If set to `false`, the PVC will be created, if it does not exist.
          type:
          - boolean
          - 'null'
          default: false
        claimName:
          description: Name for the PVC. Allow referencing it across workloads. If not provided, a name based on the workload name and scope will be auto-generated.
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 63
          example: my-claim
          pattern: .*
        readOnly:
          description: Permit only read access to PVC.
          type:
          - boolean
          - 'null'
          default: false
        claimInfo:
          $ref: '#/components/schemas/ClaimInfo'
      type:
      - object
      - 'null'
    AutoScaling:
      allOf:
      - $ref: '#/components/schemas/AutoScalingCommonFields'
      - $ref: '#/components/schemas/AutoScalingMetricFields'
      type:
      - object
      - 'null'
    PortRules:
      description: Rules for port attributes
      properties:
        container:
          $ref: '#/components/schemas/IntegerRules'
        serviceType:
          $ref: '#/components/schemas/PortServiceTypeRules'
        customExternalPort:
          $ref: '#/components/schemas/BooleanRules'
        external:
          $ref: '#/components/schemas/IntegerRules'
        toolType:
          $ref: '#/components/schemas/StringRules'
        toolName:
          $ref: '#/components/schemas/StringRules'
      type:
      - object
      - 'null'
    DistributedInferenceWorkerRules:
      properties:
        worker:
          description: Defines the pod specification for the workers. Required only if the number of workers is greater than 0.
          allOf:
          - $ref: '#/components/schemas/DistributedInferenceLeaderWorkerRulesV2'
          type:
          - object
          - 'null'
    ExposedUrlRules:
      description: Rules for the attributed of exposedUrls
      properties:
        container:
          $ref: '#/components/schemas/IntegerRules'
        customUrl:
          $ref: '#/components/schemas/BooleanRules'
        url:
          $ref: '#/components/schemas/StringRules'
        authorizedUsers:
          $ref: '#/components/schemas/ArrayRules'
        authorizedGroups:
          $ref: '#/components/schemas/ArrayRules'
        toolType:
          $ref: '#/components/schemas/StringRules'
        toolName:
          $ref: '#/components/schemas/StringRules'
      type:
      - object
      - 'null'
    PortsDefaults:
      properties:
        attributes:
          $ref: '#/components/schemas/Port'
        instances:
          $ref: '#/components/schemas/Ports'
      type:
      - object
      - 'null'
    PortsRules:
      properties:
        attributes:
          $ref: '#/components/schemas/PortRules'
        instances:
          $ref: '#/components/schemas/ItemRules'
      type:
      - object
      - 'null'
    StorageInstanceName:
      properties:
        name:
          description: unique name to identify the instance. primarily used for policy locked rules.
          type:
          - string
          - 'null'
          minLength: 1
          example: storage-instance-a
      type:
      - object
      - 'null'
    StringOption:
      description: One of the values that the field can be assigned to, when options police is applied on the field.
      required:
      - value
      properties:
        value:
          description: The value that the field should hold
          type: string
          pattern: .*
        displayed:
          description: Textual description of the value. to be used by user interface applications.
          type:
          - string
          - 'null'
          pattern: .*
      example:
        value: value
        displayed: A description of the value.
    ImagePullSecret:
      description: A reference to a secret in the same namespace used to pull container images.
      properties:
        name:
          type: string
          description: The name of the Kubernetes secret containing the image pull credentials.
          pattern: ^[a-z0-9]([a-z0-9-]*[a-z0-9])?$
        userCredential:
          type:
          - boolean
          - 'null'
          description: Indicates whether the secret is a user credential. Set to true if the secret was created by the user and is only accessible by them.
        exclude:
          description: Use 'true' in case the secret is defined in defaults of the policy, and you wish to exclude it from the workload.
          type:
          - boolean
          - 'null'
          default: false
          example: false
      type:
      - object
      - 'null'
    CreateHomeDir:
      description: When set to `true`, creates a home directory for the container.
      type:
      - boolean
      - 'null'
    ServingPortExposeExternally:
      description: Indicates whether the inference serving endpoint should be accessible outside the cluster. If set to true, the endpoint will be exposed externally. To enable external access, your administrator must configure the cluster as described in the [inference requirements](https://run-ai-docs.nvidia.com/saas/getting-started/installation/system-requirements#inference). section.
      type:
      - boolean
      - 'null'
      default: true
    NimServiceMultiNode:
      description: Defines whether the NIM service runs as a multi-node deployment. If workers is set to 1 or more, the service runs in multi-node.
      properties:
        workers:
          $ref: '#/components/schemas/NimServiceWorkers'
      type:
      - object
      - 'null'
    RestartPolicyRule:
      allOf:
      - $ref: '#/components/schemas/StringRulesCommon'
      - $ref: '#/components/schemas/RestartPolicyOptions'
      type:
      - object
      - 'null'
    ConfigMapsRules:
      properties:
        attributes:
          $ref: '#/components/schemas/ConfigMapRules'
        instances:
          $ref: '#/components/schemas/ItemRules'
      type:
      - object
      - 'null'
    TolerationOperatorOptions:
      properties:
        options:
          description: Limit the permitted values for imagePullPolicy to a given set of values.
          type:
          - array
          - 'null'
          items:
            required:
            - value
            properties:
              value:
                $ref: '#/components/schemas/TolerationOperator'
              displayed:
                description: Textual description of the value
                type:
                - string
                - 'null'
                pattern: .*
      type:
      - object
      - 'null'
    AutoScalingMinReplicas:
      description: The minimum number of replicas for autoscaling. Defaults to 1.
      type:
      - integer
      - 'null'
      format: int32
      minimum: 1
    GitItems:
      description: Set of git repositories to use in the workload.
      type:
      - array
      - 'null'
      items:
        $ref: '#/components/schemas/GitInstance'
    AuthorizationType:
      type:
      - string
      - 'null'
      enum:
      - authenticatedUsers
      - authorizedUsers
      - authorizedGroups
      description: 'Specifies who can access the connection URL:

        - `authenticatedUsers`: Any authenticated user or service account can access the URL; the authorizedUsers and authorizedGroups fields are ignored.

        - `authorizedUsers`: Only users listed in the authorizedUsers field are allowed to access the URL; the authorizedGroups field is ignored.

        - `authorizedGroups`: Only members of user groups listed in the authorizedGroups field are allowed to access the URL; the authorizedUsers field is ignored.

        If not specified, authorization is determined by whether authorizedUsers or authorizedGroups is present. If both fields are set, this results in an error. If neither is set, any authenticatedUser can access.

        '
    HostPathsRules:
      properties:
        attributes:
          $ref: '#/components/schemas/HostPathRules'
        instances:
          $ref: '#/components/schemas/ItemRules'
      type:
      - object
      - 'null'
    NimServiceReplicas:
      default: 1
      description: The number of replicas to deploy.
      type:
      - integer
      - 'null'
      format: int32
      minimum: 0
      maximum: 1000
      example: 2
    ClusterIdOptional:
      description: The id of the cluster.
      type:
      - string
      - 'null'
      format: uuid
      minLength: 1
      example: 71f69d83-ba66-4822-adf5-55ce55efd210
    EnvironmentVariablesDefaults:
      properties:
        instances:
          $ref: '#/components/schemas/EnvironmentVariables'
      type:
      - object
      - 'null'
    WorkspacePolicyDefaultsV2:
      allOf:
      - properties:
          annotations:
            $ref: '#/components/schemas/AnnotationsDefaults'
          args:
            $ref: '#/components/schemas/Args'
          autoDeletionTimeAfterCompletionSeconds:
            $ref: '#/components/schemas/AutoDeletionTimeAfterPreemption'
          backoffLimit:
            $ref: '#/components/schemas/BackoffLimit'
          category:
            $ref: '#/components/schemas/Category'
          command:
            $ref: '#/components/schemas/Command'
          compute:
            properties:
              cpuCoreLimit:
                $ref: '#/components/schemas/CpuCoreLimit'
              cpuCoreRequest:
                $ref: '#/components/schemas/CpuCoreRequest'
              cpuMemoryLimit:
                $ref: '#/components/schemas/CpuMemoryLimit'
              cpuMemoryRequest:
                $ref: '#/components/schemas/CpuMemoryRequest'
              extendedResources:
                $ref: '#/components/schemas/ExtendedResourcesDefaults'
              gpuDevicesRequest:
                $ref: '#/components/schemas/GpuDevicesRequest'
              gpuMemoryLimit:
                $ref: '#/components/schemas/GpuMemoryLimit'
              gpuMemoryRequest:
                $ref: '#/components/schemas/GpuMemoryRequest'
              gpuPortionLimit:
                $ref: '#/components/schemas/GpuPortionLimit'
              gpuPortionRequest:
                $ref: '#/components/schemas/GpuPortionRequest'
              gpuRequestType:
                $ref: '#/components/schemas/GpuRequestType'
              largeShmRequest:
                $ref: '#/components/schemas/LargeShmRequest'
            type:
            - object
            - 'null'
          createHomeDir:
            $ref: '#/components/schemas/CreateHomeDir'
          environmentVariables:
            $ref: '#/components/schemas/EnvironmentVariablesDefaults'
          exposedUrls:
            $ref: '#/components/schemas/ExposedUrlsDefaults'
          image:
            $ref: '#/components/schemas/Image'
          imagePullPolicy:
            $ref: '#/components/schemas/ImagePullPolicy'
          imagePullSecrets:
            $ref: '#/components/schemas/ImagePullSecretsDefaults'
          labels:
            $ref: '#/components/schemas/LabelsDefaults'
          nodeAffinityRequired:
            $ref: '#/components/schemas/NodeAffinityRequired'
          nodePools:
            $ref: '#/components/schemas/NodePools'
          nodeType:
            $ref: '#/components/schemas/NodeType2'
          podAffinity:
            $ref: '#/components/schemas/PodAffinity'
          ports:
            $ref: '#/components/schemas/PortsDefaults'
          preemptibility:
            $ref: '#/components/schemas/Preemptibility'
          priorityClass:
            $ref: '#/components/schemas/PriorityClass'
          probes:
            $ref: '#/components/schemas/Probes'
          relatedUrls:
            $ref: '#/components/schemas/RelatedUrlsDefaults'
          restartPolicy:
            $ref: '#/components/schemas/RestartPolicy'
          security:
            properties:
              allowPrivilegeEscalation:
                $ref: '#/components/schemas/AllowPrivilegeEscalation'
              capabilities:
                $ref: '#/components/schemas/Capabilities'
              hostIpc:
                $ref: '#/components/schemas/HostIpc'
              hostNetwork:
                $ref: '#/components/schemas/HostNetwork'
              readOnlyRootFilesystem:
                $ref: '#/components/schemas/ReadOnlyRootFileSystem'
              runAsGid:
                $ref: '#/components/schemas/RunAsGid'
              runAsNonRoot:
                $ref: '#/components/schemas/RunAsNonRoot'
              runAsUid:
                $ref: '#/components/schemas/RunAsUid'
              seccompProfileType:
                $ref: '#/components/schemas/SeccompProfileType'
              supplementalGroups:
                $ref: '#/components/schemas/SupplementalGroups'
              uidGidSource:
                $ref: '#/components/schemas/UidGidSource'
            type:
            - object
            - 'null'
          stdin:
            $ref: '#/components/schemas/Stdin'
          storage:
            properties:
              configMapVolume:
                $ref: '#/components/schemas/ConfigMapsDefaults'
              dataVolume:
                $ref: '#/components/schemas/DataVolumesDefaults'
              emptyDirVolume:
                $ref: '#/components/schemas/EmptyDirsDefaults'
              git:
                $ref: '#/components/schemas/GitsDefaults'
              hostPath:
                $ref: '#/components/schemas/HostPathsDefaults'
              nfs:
                $ref: '#/components/schemas/NfssDefaults'
              pvc:
                $ref: '#/components/schemas/PvcsDefaults'
              s3:
                $ref: '#/components/schemas/S3sDefaults'
              secretVolume:
                $ref: '#/components/schemas/SecretsDefaults'
            type:
            - object
            - 'null'
          terminateAfterPreemption:
            $ref: '#/components/schemas/TerminateAfterPreemption'
          terminationGracePeriodSeconds:
            $ref: '#/components/schemas/TerminationGracePeriod'
          tolerations:
            $ref: '#/components/schemas/TolerationsDefaults'
          tty:
            $ref: '#/components/schemas/Tty'
          workingDir:
            $ref: '#/components/schemas/WorkingDir'
        type:
        - object
        - 'null'
    DistributedPolicyChangeRequestV2:
      properties:
        meta:
          $ref: '#/components/schemas/PolicyCreationFields'
        policy:
          $ref: '#/components/schemas/DistributedPolicyDefaultsAndRulesV2'
        reset:
          $ref: '#/components/schemas/FieldsToReset'
      type: object
    ServingPortProtocolOptions:
      properties:
        options:
          type:
          - array
          - 'null'
          items:
            required:
            - value
            properties:
              value:
                $ref: '#/components/schemas/ServingPortProtocol'
              displayed:
                description: Textual description of the value
                type:
                - string
                - 'null'
                pattern: .*
      type:
      - object
      - 'null'
    Preemptibility:
      description: Specifies whether the workload can be preempted by higher-priority workloads. Valid values are preemptible and non-preemptible. If explicitly set, this value takes precedence. If not set, the system derives the preemptibility from the priorityClassName field, ensuring backward compatibility. Each workload type has a default preemptibility. To view the default preemptibility for each workload type, use the GET /workload-types endpoint.
      type:
      - string
      - 'null'
      minLength: 1
      enum:
      - preemptible
      - non-preemptible
    ExposedUrls:
      description: Set of container ports that the workload exposes via URLs.
      type:
      - array
      - 'null'
      items:
        $ref: '#/components/schemas/ExposedUrl'
    AutoScalingScaleWindowSeconds:
      description: The time window for autoscaling decisions, in seconds. Defaults to 300 seconds.
      type:
      - integer
      - 'null'
      format: int32
      minimum: 60
      maximum: 3600
    DistributedInferenceWorkerDefaults:
      properties:
        worker:
          description: Defines the pod specification for the workers. Required only if the number of workers is greater than 0.
          allOf:
          - $ref: '#/components/schemas/DistributedInferenceLeaderWorkerDefaultsV2'
          type:
          - object
          - 'null'
    DistributedInferenceLeaderDefaults:
      properties:
        leader:
          description: Defines the pod specification for the leader. Must always be provided, regardless of the number of workers.
          allOf:
          - $ref: '#/components/schemas/DistributedInferenceLeaderWorkerDefaultsV2'
          type:
          - object
          - 'null'
    NimServiceServingPort:
      description: A port for accessing the inference service
      properties:
        serviceType:
          $ref: '#/components/schemas/ServingPortServiceType'
        port:
          $ref: '#/components/schemas/ServingPortPort'
        grpcPort:
          $ref: '#/components/schemas/ServingPortGrpcPort'
        metricsPort:
          $ref: '#/components/schemas/ServingPortMetricsPort'
        exposeExternally:
          $ref: '#/components/schemas/ServingPortExposeExternally'
        exposedUrl:
          $ref: '#/components/schemas/ServingPortExposedUrl'
        exposedProtocol:
          $ref: '#/components/schemas/ServingPortExposedProtocol'
      type:
      - object
      - 'null'
    MetricThresholdPercentageField:
      properties:
        metricThresholdPercentage:
          description: The percentage of metric threshold value to use for autoscaling. Defaults to 70. Applicable only with the 'throughput' and 'concurrency' metrics
          type:
          - number
          - 'null'
          format: float
          minimum: 1
          maximum: 100
    HostPathMountPropagation:
      description: Share this volumes mount with other containers. If set to HostToContainer, this volume mount will receive all subsequent mounts that are mounted to this volume or any of its subdirectories. In case of multiple hostPath entries, this field should have the same value for all of them.
      type:
      - string
      - 'null'
      enum:
      - None
      - HostToContainer
    ServingPortExposedProtocolRules:
      allOf:
      - $ref: '#/components/schemas/StringRulesCommon'
      - $ref: '#/components/schemas/ServingPortExposedProtocolOptions'
      type:
      - object
      - 'null'
    NimServiceServingPortRules:
      description: A port for accessing the inference service
      properties:
        serviceType:
          $ref: '#/components/schemas/ServingPortServiceTypeRules'
        port:
          $ref: '#/components/schemas/IntegerRules'
        grpcPort:
          $ref: '#/components/schemas/IntegerRules'
        metricsPort:
          $ref: '#/components/schemas/IntegerRules'
        exposeExternally:
          $ref: '#/components/schemas/BooleanRules'
        exposedUrl:
          $ref: '#/components/schemas/StringRules'
        exposedProtocol:
          $ref: '#/components/schemas/ServingPortExposedProtocolRules'
      type:
      - object
      - 'null'
    DepartmentIdOptional:
      description: The id of the department.
      type:
      - string
      - 'null'
      minLength: 1
      example: 2
      pattern: .*
    TenantId:
      description: The id of the tenant.
      type: integer
      format: int32
      example: 1001
    InferencePolicyV2:
      properties:
        meta:
          $ref: '#/components/schemas/PolicyMeta'
        policy:
          $ref: '#/components/schemas/InferencePolicyDefaultsAndRulesV2'
        effective:
          $ref: '#/components/schemas/InferencePolicyDefaultsAndRulesV2'
        effectiveUpdatedAt:
          $ref: '#/components/schemas/Timestamp'
      type:
      - object
      - 'null'
    DistributedInferenceLeaderRules:
      properties:
        leader:
          description: Defines the pod specification for the leader. Must always be provided, regardless of the number of workers.
          allOf:
          - $ref: '#/components/schemas/DistributedInferenceLeaderWorkerRulesV2'
          type:
          - object
          - 'null'
    NodeType2:
      description: Nodes (machines), or a group of nodes on which the workload will run. To use this feature, your Administrator will need to label nodes. For more information, see [Group Nodes](https://docs.run.ai/latest/admin/researcher-setup/limit-to-node-group). When using this flag with with Project-based affinity, it refines the list of allowable node groups set in the Project. For more information, see [Projects](https://docshub.run.ai/guides/platform-management/aiinitiatives/organization/projects).
      type:
      - string
      - 'null'
      minLength: 1
      example: my-node-type
      pattern: .*
    GpuRequestRules:
      allOf:
      - $ref: '#/components/schemas/StringRulesCommon'
      - $ref: '#/components/schemas/GpuRequestOptions'
      type:
      - object
      - 'null'
    DataVolumeItems:
      description: Set of data volumes to use in the workload.
      type:
      - array
      - 'null'
      items:
        $ref: '#/components/schemas/DataVolumeInstance'
    Secret5:
      allOf:
      - $ref: '#/components/schemas/SecretFieldsUpdatable'
      - $ref: '#/components/schemas/SecretFieldsNonUpdatable'
    DistributedInferenceRestartPolicyOptions:
      properties:
        options:
          description: Limit the permitted values for restartPolicy to a given set of values.
          type:
          - array
          - 'null'
          items:
            required:
            - value
            properties:
              value:
                $ref: '#/components/schemas/DistributedInferenceRestartPolicy'
              displayed:
                description: Textual description of the value
                type:
                - string
                - 'null'
                pattern: .*
      type:
      - object
      - 'null'
    DistributedInferenceDefaultsV2:
      allOf:
      - $ref: '#/components/schemas/DistributedInferenceCommonDefaultsV2'
      - $ref: '#/components/schemas/DistributedInferenceLeaderDefaults'
      - $ref: '#/components/schemas/DistributedInferenceWorkerDefaults'
    ExtendedResourcesDefaults:
      properties:
        attributes:
          $ref: '#/components/schemas/ExtendedResource'
        instances:
          $ref: '#/components/schemas/ExtendedResources'
      type:
      - object
      - 'null'
    WorkspacePolicyV2:
      properties:
        meta:
          $ref: '#/components/schemas/PolicyMeta'
        policy:
          $ref: '#/components/schemas/WorkspacePolicyDefaultsAndRulesV2'
        effective:
          $ref: '#/components/schemas/WorkspacePolicyDefaultsAndRulesV2'
        effectiveUpdatedAt:
          $ref: '#/components/schemas/Timestamp'
      type:
      - object
      - 'null'
    PodAffinity:
      description: Pod affinity scheduling rules (e.g. co-locate this workload in the same node, zone, etc. as some other workloads).
      type:
      - object
      - 'null'
      properties:
        type:
          $ref: '#/components/schemas/PodAffinityType'
        key:
          description: The label key to use. (mandatory)
          type:
          - string
          - 'null'
          pattern: .*
    PvcsRules:
      properties:
        attributes:
          $ref: '#/components/schemas/PvcRules'
        instances:
          $ref: '#/components/schemas/ItemRules'
      type:
      - object
      - 'null'
    PortServiceTypeRules:
      allOf:
      - $ref: '#/components/schemas/StringRulesCommon'
      - $ref: '#/components/schemas/PortServiceTypeOptions'
      type:
      - object
      - 'null'
    GpuRequestOptions:
      properties:
        options:
          description: Limit the permitted values for gpuRequest to a given set of values.
          type:
          - array
          - 'null'
          items:
            required:
            - value
            properties:
              value:
                $ref: '#/components/schemas/GpuRequestType'
              displayed:
                description: Textual description of the value
                type:
                - string
                - 'null'
                pattern: .*
      type:
      - object
      - 'null'
    UidGidSourceRules:
      allOf:
      - $ref: '#/components/schemas/StringRulesCommon'
      - $ref: '#/components/schemas/UidGidSourceOptions'
      type:
      - object
      - 'null'
    UidGidSource:
      description: Indicate the way to determine the user and group ids of the container. The options are a. `fromTheImage` - user and group ids are determined by the docker image that the container runs. this is the default option. b. `custom` - user and group ids can be specified in the environment asset and/or the workload creation request. c. `idpToken` - user and group IDs are automatically taken from the identity provider (IdP) token (available only in SSO-enabled installations). For more information, see [User Identity](https://docs.run.ai/latest/admin/runai-setup/config/non-root-containers/).
      type:
      - string
      - 'null'
      enum:
      - fromTheImage
      - fromIdpToken
      - custom
    MaxReplicas:
      description: the upper limit for the number of worker pods that can be set by the autoscaler. Cannot be smaller than MinReplicas. (applicable only for PyTorch)
      type:
      - integer
      - 'null'
    ProbeHandler:
      description: The action taken to determine the health of the container. (mandatory)
      type:
      - object
      - 'null'
      properties:
        httpGet:
          description: An action based on HTTP Get requests.
          type: object
          properties:
            path:
              description: Path to access on the HTTP server, defaults to /.
              type:
              - string
              - 'null'
              pattern: ^(\x2F[a-zA-Z0-9\-_.\x2F]*)?$
              example: /
            port:
              description: Number of the port to access on the container.
              type:
              - integer
              - 'null'
              format: int32
              minimum: 1
              maximum: 65535
            host:
              description: Host name to connect to, defaults to the pod IP.
              type:
              - string
              - 'null'
              format: hostname
              example: example.com
              pattern: .*
            scheme:
              $ref: '#/components/schemas/ProbeHandlerScheme'
    WorkspacePolicyChangeRequestV2:
      properties:
        meta:
          $ref: '#/components/schemas/PolicyCreationFields'
        policy:
          $ref: '#/components/schemas/WorkspacePolicyDefaultsAndRulesV2'
        reset:
          $ref: '#/components/schemas/FieldsToReset'
      type: object
    DistributedInferenceStartupPolicy:
      description: "Determines when the worker pods should start during workload initialization. \n - `LeaderCreated`: Workers start after the leader pod is created.\n - `LeaderReady`: Workers start only after the leader pod is ready.\n"
      type:
      - string
      - 'null'
      enum:
      - LeaderCreated
      - LeaderReady
      default: LeaderCreated
    DistributedFramework:
      description: The distributed training framework used in the workload.
      type:
      - string
      - 'null'
      enum:
      - MPI
      - PyTorch
      - TF
      - XGBoost
      - JAX
    Args:
      description: Arguments to the command that the container running the workload executes.
      type:
      - string
      - 'null'
      minLength: 1
      example: -x my-script.py
      pattern: .*
    DistributedPolicyRulesV2:
      properties:
        master:
          $ref: '#/components/schemas/ReplicaRulesV2'
        worker:
          allOf:
          - $ref: '#/components/schemas/ReplicaRulesV2'
          - properties:
              cleanPodPolicy:
                $ref: '#/components/schemas/CleanPodPolicyRules'
              distributedFramework:
                $ref: '#/components/schemas/DistributedFrameworkRules'
              maxReplicas:
                $ref: '#/components/schemas/IntegerRules'
              minReplicas:
                $ref: '#/components/schemas/IntegerRules'
              mpiLauncherCreationPolicy:
                $ref: '#/components/schemas/MpiLauncherCreationPolicyRules'
              numWorkers:
                $ref: '#/components/schemas/IntegerRules'
              slotsPerWorker:
                $ref: '#/components/schemas/IntegerRules'
              sshAuthMountPath:
                $ref: '#/components/schemas/StringRules'
            type:
            - object
            - 'null'
          type:
          - object
          - 'null'
      type:
      - object
      - 'null'
    ServingPortServiceTypeOptions:
      properties:
        options:
          type:
          - array
          - 'null'
          items:
            required:
            - value
            properties:
              value:
                $ref: '#/components/schemas/ServingPortServiceType'
              displayed:
                description: Textual description of the value
                type:
                - string
                - 'null'
                pattern: .*
      type:
      - object
      - 'null'
    DistributedInferenceStartupPolicyOptions:
      properties:
        startupPolicy:
          $ref: '#/components/schemas/DistributedInferenceStartupPolicy'
      type:
      - object
      - 'null'
    ProbesRules:
      properties:
        readiness:
          $ref: '#/components/schemas/ProbeRules'
      type:
      - object
      - 'null'
    AutoScalingMetricRules:
      allOf:
      - $ref: '#/components/schemas/StringRulesCommon'
      - $ref: '#/components/schemas/AutoScalingMetricOptions'
      type:
      - object
      - 'null'
    AutoScalingCommonFields:
      allOf:
      - $ref: '#/components/schemas/MetricThresholdPercentageField'
      - $ref: '#/components/schemas/InferencesMinReplicasField'
      - $ref: '#/components/schemas/InferencesMaxReplicasField'
      - $ref: '#/components/schemas/InitialReplicasField'
      - $ref: '#/components/schemas/ActivationReplicasField'
      - $ref: '#/components/schemas/ConcurrencyHardLimitField'
      - $ref: '#/components/schemas/ScaleToZeroRetentionField'
      - $ref: '#/components/schemas/ScaleDownDelayField'
      - $ref: '#/components/schemas/InitializationTimeoutField'
      type:
      - object
      - 'null'
    HostPathMountPropagationOptions:
      properties:
        options:
          type:
          - array
          - 'null'
          items:
            required:
            - value
            properties:
              value:
                $ref: '#/components/schemas/HostPathMountPropagation'
              displayed:
                description: Textual description of the value
                type:
                - string
                - 'null'
                pattern: .*
    TolerationEffectRules:
      allOf:
      - $ref: '#/components/schemas/StringRulesCommon'
      - $ref: '#/components/schemas/TolerationEffectOptions'
      type:
      - object
      - 'null'
    ExtendedResourceRules:
      description: Rules for the attributes of extendedResources
      properties:
        quantity:
          $ref: '#/components/schemas/StringRules'
      type:
      - object
      - 'null'
    DataVolumeInstance:
      allOf:
      - $ref: '#/components/schemas/DataVolume'
      - $ref: '#/components/schemas/ExcludeField'
      type:
      - object
      - 'null'
    DistributedInferenceServingPortRules-2:
      description: Defines the configuration for the inference serving endpoint. This determines how applications or services can send inference requests to the workload.
      allOf:
      - $ref: '#/components/schemas/DistributedInferenceServingPortRules'
      type:
      - object
      - 'null'
    MpiLauncherCreationPolicyOptions:
      properties:
        options:
          type:
          - array
          - 'null'
          items:
            required:
            - value
            properties:
              value:
                $ref: '#/components/schemas/MpiLauncherCreationPolicy'
              displayed:
                description: Textual description of the value
                type:
                - string
                - 'null'
                pattern: .*
      type:
      - object
      - 'null'
    DistributedInferencePolicyChangeRequestV2:
      properties:
        meta:
          $ref: '#/components/schemas/PolicyCreationFields'
        policy:
          $ref: '#/components/schemas/DistributedInferencePolicyDefaultsAndRulesV2'
        reset:
          $ref: '#/components/schemas/FieldsToReset'
      type: object
    NumberRules:
      properties:
        sourceOfRule:
          $ref: '#/components/schemas/SourceOfRule'
        required:
          description: Whether the field is mandatory. default to false.
          type:
          - boolean
          - 'null'
        canEdit:
          description: Whether the value of the field is editable. default to true
          type:
          - boolean
          - 'null'
        min:
          description: The minimum value that the field can be assigned to.
          type:
          - number
          - 'null'
        max:
          description: The maximum value that the field can be assigned to.
          type:
          - number
          - 'null'
        step:
          description: The minimal difference between two values the field can be assigned to. For example, min=2, max=3, step=0.25 implies that the values the field can hold are 2, 2.25, 2.5 and 3.
          type:
          - number
          - 'null'
        defaultFrom:
          $ref: '#/components/schemas/DefaultFromRule'
      type:
      - object
      - 'null'
    DistributedInferenceRestartPolicy:
      description: 'Determines the behavior when a pod fails.

        - `RecreateGroupOnPodRestart`: Restarts all pods in the group if any pod fails.

        - `None`: No automatic restart behavior is applied.

        '
      type:
      - string
      - 'null'
      enum:
      - RecreateGroupOnPodRestart
      - None
      default: RecreateGroupOnPodRestart
    Ports:
      description: Set of container ports that the workload exposes.
      type:
      - array
      - 'null'
      items:
        $ref: '#/components/schemas/Port'
    ScopeType:
      type: string
      enum:
      - system
      - tenant
      - cluster
      - department
      - project
    DistributedInferencePolicyDefaultsAndRulesV2:
      properties:
        defaults:
          allOf:
          - $ref: '#/components/schemas/DistributedInferenceDefaultsV2'
          type:
          - object
          - 'null'
        rules:
          allOf:
          - $ref: '#/components/schemas/DistributedInferenceRulesV2'
          type:
          - object
          - 'null'
        imposedAssets:
          $ref: '#/components/schemas/DistributedInferenceImposedAssets'
        status:
          $ref: '#/components/schemas/PolicyValidationStatus'
      type:
      - object
      - 'null'
    ServingPortPort:
      description: The port that the container running the inference service exposes (mandatory).
      type:
      - integer
      - 'null'
      format: int32
      minimum: 1
      maximum: 65535
      example: 8000
    ConfigMapRules:
      properties:
        configMap:
          $ref: '#/components/schemas/StringRules'
        mountPath:
          $ref: '#/components/schemas/StringRules'
        subPath:
          $ref: '#/components/schemas/StringRules'
        defaultMode:
          $ref: '#/components/schemas/StringRules'
      type:
      - object
      - 'null'
    Stdin:
      description: Whether this container should allocate a buffer for stdin in the container runtime. If this is not set, reads from stdin in the container will always result in EOF
      type:
      - boolean
      - 'null'
    WorkingDir:
      description: Container's working directory. If not specified, the container runtime default will be used. This may be configured in the container image.
      type:
      - string
      - 'null'
      minLength: 1
      example: /home/myfolder
      pattern: .*
    DistributedFrameworkRules:
      allOf:
      - $ref: '#/components/schemas/StringRulesCommon'
      - $ref: '#/components/schemas/DistributedFrameworkOptions'
      type:
      - object
      - 'null'
    EnvironmentVariableConfigMap:
      description: Details of the configMap and key use to populate the environment variable
      properties:
        name:
          description: The name of the config-map resource. (mandatory)
          type:
          - string
          - 'null'
          minLength: 1
          example: my-config-map
          pattern: ^[a-z0-9]([a-z0-9-]*[a-z0-9])?$
        key:
          description: The key in the config-map resource. (mandatory)
          type:
          - string
          - 'null'
          minLength: 1
          example: MY_POSTGRES_SCHEMA
          pattern: .*
      type:
      - object
      - 'null'
    AnnotationsDefaults:
      properties:
        instances:
          $ref: '#/components/schemas/Annotations'
      type:
      - object
      - 'null'
    ConfigMap:
      properties:
        configMap:
          description: The name of the ConfigMap resource. (mandatory)
          type:
          - string
          - 'null'
          minLength: 1
          pattern: ^[a-z0-9]([a-z0-9-]*[a-z0-9])?$
        mountPath:
          description: Local path within the workload to which the ConfigMap will be mapped to. (mandatory)
          type:
          - string
          - 'null'
          minLength: 1
          pattern: .*
        subPath:
          description: Path within the volume from which the container's volume should be mounted.
          type:
          - string
          - 'null'
          minLength: 1
          pattern: .*
        defaultMode:
          $ref: '#/components/schemas/DefaultMode'
      type:
      - object
      - 'null'
    S3Common:
      properties:
        bucket:
          description: The name of the bucket. (mandatory)
          type:
          - string
          - 'null'
          minLength: 1
          example: my-bucket
        path:
          description: Local path within the workload to which the S3 bucket will be mapped. (mandatory)
          type:
          - string
          - 'null'
          minLength: 1
          example: /container/my-bucket
        url:
          description: The url of the S3 service provider. The default is the URL of the Amazon AWS S3 service.
          type:
          - string
          - 'null'
          minLength: 1
          example: https://s3.amazonaws.com
      type:
      - object
      - 'null'
    GpuRequestType:
      description: Sets the unit type for GPU resources requests. Stated in terms of portion or memory. Sets the unit type for other GPU request fields. If `gpuDevicesRequest > 1`, only `portion` is supported. If `gpuDeviceRequest = 1`, the request type can be stated as `portion` or `memory`.
      type:
      - string
      - 'null'
      minLength: 1
      enum:
      - portion
      - memory
    SshAuthMountPath:
      description: Specifies the directory where SSH keys are mounted. (applicable only for MPI)
      type:
      - string
      - 'null'
      default: /root/.ssh
      pattern: .*
    SecretFieldsUpdatable:
      properties:
        mountPath:
          description: Local path within the workload to which the Secret will be mapped to. (mandatory)
          type:
          - string
          - 'null'
          minLength: 1
        defaultMode:
          $ref: '#/components/schemas/DefaultMode'
      type:
      - object
      - 'null'
    DataVolumesDefaults:
      properties:
        attributes:
          $ref: '#/components/schemas/DataVolumeInstance'
        instances:
          $ref: '#/components/schemas/DataVolumeItems'
      type:
      - object
      - 'null'
    StringRulesOptions:
      properties:
        options:
          description: Set of options that the value of the field must be chosen from.
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StringOption'
    PolicySyncStatusOfCluster:
      required:
      - clusterId
      - status
      properties:
        clusterId:
          $ref: '#/components/schemas/ClusterId'
        status:
          description: Policy sync status of the cluster
          type: string
          enum:
          - Not ready
          - Applying
          - Failed
          - Ready
          - Pending deletion
          - Deleting
          - Deleted
          - Deletion failed
        errorMessage:
          description: In case sync failed, holds the error message received from the cluster
          type:
          - string
          - 'null'
      type: object
    InferencesMaxReplicasField:
      properties:
        maxReplicas:
          description: The maximum number of replicas for autoscaling. Defaults to minReplicas, or to 1 if minReplicas is set to 0
          type:
          - integer
          - 'null'
          format: int32
          minimum: 1
    TrainingPolicyV2:
      properties:
        meta:
          $ref: '#/components/schemas/PolicyMeta'
        policy:
          $ref: '#/components/schemas/TrainingPolicyDefaultsAndRulesV2'
        effective:
          $ref: '#/components/schemas/TrainingPolicyDefaultsAndRulesV2'
        effectiveUpdatedAt:
          $ref: '#/components/schemas/Timestamp'
      type:
      - object
      - 'null'
    AutoScalingRules:
      properties:
        metricThresholdPercentage:
          $ref: '#/components/schemas/NumberRules'
        minReplicas:
          $ref: '#/components/schemas/IntegerRules'
        maxReplicas:
          $ref: '#/components/schemas/IntegerRules'
        initialReplicas:
          $ref: '#/components/schemas/IntegerRules'
        activationReplicas:
          $ref: '#/components/schemas/IntegerRules'
        metric:
          $ref: '#/components/schemas/AutoScalingMetricRules'
        metricThreshold:
          $ref: '#/components/schemas/IntegerRules'
        concurrencyHardLimit:
          $ref: '#/components/schemas/IntegerRules'
        scaleToZeroRetentionSeconds:
          $ref: '#/components/schemas/IntegerRules'
        scaleDownDelaySeconds:
          $ref: '#/components/schemas/IntegerRules'
        initializationTimeoutSeconds:
          allOf:
          - $ref: '#/components/schemas/IntegerRules'
          deprecated: true
      type:
      - object
      - 'null'
    GitCommon:
      properties:
        repository:
          description: URL to a remote Git repository. The content of this repository will be mapped to the container running the workload. (mandatory)
          type:
          - string
          - 'null'
          minLength: 1
          example: https://github.com/my-git/my-repo
        branch:
          description: Specific branch to synchronize the repository from.
          type:
          - string
          - 'null'
          minLength: 1
          example: main
        revision:
          description: Specific revision to synchronize the repository from.
          type:
          - string
          - 'null'
          minLength: 1
        path:
          description: Local path within the workload to which the Git repository will be mapped (mandatory).
          type:
          - string
          - 'null'
          minLength: 1
          example: /container/my-repository
[...]
