openapi: 3.2.0
info:
  version: latest
  description: '# Introduction


    The NVIDIA Run:ai Control-Plane API reference is a guide that provides an easy-to-use programming interface for adding various tasks to your application, including workload submission, resource management, and administrative operations.


    NVIDIA Run:ai APIs are accessed using *bearer tokens*. To obtain a token, you need to create a **Service account** through the NVIDIA Run:ai user interface.

    To create a service account, in your UI, go to Access → Service Accounts (for organization-level service accounts) or User settings → Access Keys (for user access keys), and create a new one.


    After you have created a new service account, you will need to assign it access rules.

    To assign access rules to the service account, see [Create access rules](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/authentication/accessrules#create-or-delete-rules).

    Make sure you assign the correct rules to your service account. Use the [Roles](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/authentication/roles) to assign the correct access rules.


    To get your access token, follow the instructions in [Request a token](https://run-ai-docs.nvidia.com/saas/reference/api/rest-auth/#request-an-api-token).

    '
  title: NVIDIA Run:ai Access Keys Me API
  x-logo:
    url: https://api.redocly.com/registry/raw/runai-xq8/saas/latest/public/runai-logo-api.png
    altText: NVIDIA Run:ai
    href: https://run.ai
  license:
    name: NVIDIA Run:ai
    url: https://www.nvidia.com/en-us/agreements/enterprise-software/nvidia-software-license-agreement/
servers:
- url: https://app.run.ai
security:
- bearerAuth: []
tags:
- name: Me
  description: "\"Me\" returns the authenticated user's permissions within the system. \nIt provides a comprehensive view of access rules (roles, subjects and scope) assigned to the current user.\nFor more information see [Access control](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/authentication/overview/#role-based-access-control).\n"
paths:
  /api/v1/authorization/me/access-rules:
    get:
      summary: List the access rules assigned to the requesting user.
      description: Retrieve the access rules assigned to the requesting user.
      operationId: get_me_access_rules
      tags:
      - Me
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: Executed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeAccessRulesResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
  /api/v1/authorization/me/access-rules/count:
    get:
      summary: Count the access rules assigned to the requesting user.
      description: Use to retrieve the number of access rules assigned to the requesting user.
      operationId: count_me_access_rules
      tags:
      - Me
      parameters:
      - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: Executed successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - count
                properties:
                  count:
                    type: integer
                    format: int64
                    example: 1
        '400':
          $ref: '#/components/responses/400BadRequest'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
components:
  schemas:
    SubjectType:
      type: string
      description: 'Subject type enum for access rules.


        Note: The ''app'' subject type is DEPRECATED. Please use ''service-account'' instead for service accounts.

        '
      enum:
      - user
      - app
      - service-account
      - group
    EnrichmentDataFields:
      type: object
      required:
      - roleName
      - scopeName
      properties:
        roleName:
          type: string
          description: The name of the assigned role (e.g., admin, viewer).
          example: admin
        scopeName:
          type: string
          description: Human-readable name of the scope (e.g., tenant-x).
          example: tenant-x
    MeAccessRule:
      allOf:
      - $ref: '#/components/schemas/AccessRuleCreationFields'
      - $ref: '#/components/schemas/EnrichmentDataFields'
      - required:
        - tenantId
      - properties:
          id:
            type: integer
            format: int32
            example: 32
          tenantId:
            $ref: '#/components/schemas/TenantId'
    AccessRuleCreationFields:
      type: object
      required:
      - subjectId
      - subjectType
      - roleId
      - scopeId
      - scopeType
      properties:
        subjectId:
          type: string
          example: user@run.ai
          description: The unique identifier of the subject (e.g., user, group, or app).
        subjectType:
          allOf:
          - $ref: '#/components/schemas/SubjectType'
          - description: 'The subject assigned to the access rule. Valid values: user, group, app.'
        roleId:
          type: integer
          format: int32
          description: The numeric ID of the assigned role.
          example: 53142648
        scopeId:
          type: string
          description: The unique identifier of the scope.
          example: a418ed33-9399-48c0-a890-122cadd13bfd
        scopeType:
          allOf:
          - $ref: '#/components/schemas/ScopeType'
          - description: 'The type of scope the access rule applies to. Valid values: system, tenant, cluster, department, project.'
        clusterId:
          $ref: '#/components/schemas/ClusterId'
    ScopeType:
      type: string
      enum:
      - system
      - tenant
      - cluster
      - department
      - project
    ClusterId:
      description: The id of the cluster.
      type: string
      format: uuid
      example: 71f69d83-ba66-4822-adf5-55ce55efd210
    TenantId:
      description: The id of the tenant.
      type: integer
      format: int32
      example: 1001
    Error:
      required:
      - code
      - message
      properties:
        code:
          type: integer
          minimum: 100
          maximum: 599
        message:
          type: string
        details:
          type: string
      example:
        code: 400
        message: Bad request - Resource should have a name
    MeAccessRules:
      type: array
      items:
        $ref: '#/components/schemas/MeAccessRule'
      x-schema-name: MeAccessRules
    MeAccessRulesResponse:
      type: object
      properties:
        accessRules:
          type: object
          required:
          - totalRecords
          - displayRecords
          - accessRules
          properties:
            totalRecords:
              type: integer
              example: 1
            displayRecords:
              type: integer
              example: 1
            accessRules:
              $ref: '#/components/schemas/MeAccessRules'
  parameters:
    Offset:
      name: offset
      in: query
      required: false
      description: The offset of the first item returned in the collection.
      schema:
        type: integer
        format: int32
        example: 100
    Search:
      name: search
      in: query
      required: false
      description: Filter results by a free text search.
      schema:
        type: string
        example: test project
    Limit:
      name: limit
      in: query
      required: false
      description: The maximum number of entries to return.
      schema:
        type: integer
        format: int32
        default: 50
        minimum: 1
        maximum: 500
  responses:
    500InternalServerError:
      description: unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 500
            message: Something went wrong.
    400BadRequest:
      description: Bad request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 400
            message: Required parameter is missing
    503ServiceUnavailable:
      description: unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: 503
            message: Please try again in few minutes.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer authentication
x-tagGroups:
- name: Organizations
  tags:
  - Clusters
  - Departments
  - Reports
  - NodePools
  - Nodes
  - Projects
  - Tenant
  - Logo
  - Researcher Command Line Interface
  - Researcher Command Line Interface Deprecated
  - Administrator Command Line Interface
  - Network Topologies
- name: Authentication and Authorization
  tags:
  - Access Keys
  - Access rules
  - Permissions
  - Applications
  - Service Accounts
  - Roles
  - Tokens
  - Users
  - User Applications
  - Idps
  - Me
  - Settings
  - Org unit
- name: Audit
  tags:
  - AuditLogs
- name: Datavolumes
  tags:
  - Datavolumes
- name: Workloads
  tags:
  - Events
  - Pods
  - Workloads
  - Workloads V2
  - NVIDIA NIM
  - Workspaces
  - Trainings
  - Inferences
  - Revisions
  - Distributed
  - Workloads batch
  - Workload properties
  - Workload templates
  - Distributed Inferences
- name: Workload assets
  tags:
  - Compute
  - Credentials
  - Datasources
  - Environment
  - Storage Classes
  - Storage Class Configuration
  - Git
  - HostPath
  - NFS
  - PVC
  - Registry
  - S3
  - ConfigMap
  - Secret
  - Template
- name: Policies
  tags:
  - Policy
- name: Notifications
  tags:
  - Notification State
  - Notification Types
  - NotificationChannels
  - Subscriptions
- name: AI Applications
  tags:
  - AI Applications
